<div class="row">
  <div class="col-lg-10 m-auto">
    <div class="jumbotron my-4">
      <h1 class="text-center">Contact us</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 text-right">
        <h2>Cope Homes Office</h2>
        <a href="https://www.google.com/maps/place/Cope+Equities/@33.0913525,-96.686332,17z/data=!3m1!4b1!4m5!3m4!1s0x864c175d0857cbcf:0x35dbd00aa8c23ee8!8m2!3d33.091348!4d-96.6841433">
          <p class="m-0">900 West Bethany Drive</p>
          <p class="m-0">Suite 230</p>
          <p>Allen, Texas 75023</p>
        </a>
        <a href="tel:9035209410">
          <p>call: 903.520.9410</p>
        </a>
        <a href="mailto:Sales@copedfw.com?subject=Contact from Website">email: Sales@copedfw.com</a>
      </div>
      <div class="col-lg-9 mw-100">
        <iframe class="map" src="https://www.google.com/maps/d/embed?mid=1xfneqDU9KCzPmOgJl-78pKBshKjUkHpP&hl=en" height="480" class="border-0 w-100"></iframe>
      </div>
    </div>
  </div>
</div>
