<div class="row pt-4">
  <div class="col-lg-10 m-auto">
    <div class="jumbotron text-center">
      <h1>Check out these amazing floorplans!</h1>
    </div>
  </div>
</div>
<ul class="nav nav-tabs nav-fill tab">
  <li class="nav-item px-2">
    <a class="nav-link" routerLink="sitebuilt" routerLinkActive="active">Site Built Homes</a>
  </li>
  <li class="nav-item px-2">
    <a class="nav-link" routerLink="manufactured" routerLinkActive="active">Manufactured Homes</a>
  </li>
</ul>
<router-outlet></router-outlet>
