<!-- Responsive navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">
<!-- Company name always visible -->
  <a href="navbar-brand" routerLink="/">
    <span class="navbar-text h4 mb-0">Cope Homes</span>
  </a>
<!-- mobile toggler -->
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#links" aria-controls="links" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- navbar section that toggler toggles -->
  <div class="collapse navbar-collapse text-right" id="links">
<!-- brand image -->
    <a id="navbrand" routerLink="/">
      <img src="/assets/images/Cope Homes-01.png" width="70" alt="Cope Homes">
    </a>
<!-- page links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/floorplans/sitebuilt" class="nav-link">Floorplans</a><a routerLink="/floorplans/manufactured"></a></li>
      <li class="nav-item"><a routerLink="/developments" class="nav-link" routerLinkActive="active">Neighborhoods</a></li>
      <li class="nav-item"><a routerLink="/order" class="nav-link" routerLinkActive="active">Order</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link" routerLinkActive="active">About</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
<!-- end of navbar -->

<!-- pages populate below -->
<router-outlet></router-outlet>

<!-- footer -->
<div class="row bg-light p-2 ml-0 text-muted justify-content-center" id="footer">
  <p class="mb-0">&copy; Cope Equities, 2019</p>
  <button type="button" name="button" class="btn btn-danger btn-sm ml-auto" *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</button>
</div>
