<!-- centered box with phrase and buttons -->
<div class="cta row">
  <div class="box shadow col-lg-6 col-md-9">
    <h1 class="h1 text-light pb-3">Find your home with us</h1>
    <div class="row justify-content-around">
      <a routerLink="/floorplans/sitebuilt" class="btn btn-danger m-3">Choose your home</a>
      <a routerLink="/developments" class="btn btn-primary m-3">Choose your neighborhood</a>
    </div>
  </div>
</div>

<!-- background slider -->
<div id="background" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div id="img-1" class="background"></div>
    </div>
    <div class="carousel-item">
      <div id="img-2" class="background"></div>
    </div>
    <div class="carousel-item">
      <div id="img-3" class="background"></div>
    </div>
  </div>
</div>
